:root {
  --body-bg-color: #E9DAC4; /* Example: a light grey color */
  --secondary-color:#000c66ff;
  --primary-color:  #BF211E; 
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--body-bg-color);
  font-size: 1rem;
  font-weight: 500;
}
.header-logo {
   margin: 20px 40px;
}
.logo img {
  width: 50px;
 
}
.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */
  position: relative;
}

.menu-bar ul li a {
  text-decoration: none;
  transition: all 0.3s;
  color: var(--primary-color);
   font-size: 16px; /* Initial font size */
  transition: font-size 0.3s ease; /* Smooth transition for font size change */
}

.menu-bar ul li a:hover {
  color: var(--primary-color);
  font-size: 18px;
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
  z-index: 999;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--body-bg-color);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 5px;
}         

.intro-container {
    position: relative;
    width: 100%;
    height: 100%;  
    overflow: hidden; 
}   

 .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.intro-container img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.intro-text {
  position: absolute;
  color: var(--primary-color);
  top: 25%;
  margin: 0 2rem;
  font-size: 3rem;
  font-weight: bold;
}
select {
  font-size: 1rem;
}
.form-select {
  color: var(--primary-color);
  background-color: var(--body-bg-color);
  border: var(--primary-color) 2px solid;
  padding: 5px;
  width: 45%;
}

.form-select2 {
  color: var(--primary-color);
  background-color: var(--body-bg-color);
  border: var(--primary-color) 2px solid;
  padding: 5px;
  width: 45%;
}
.form-button {
  color: black;
  background-color: var(--body-bg-color);
  border: none;
  padding: 5px;
  width: 15%;
}

.form-button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--body-bg-color);
  border: var(--body-bg-color) 2px solid;
}
.fa-solid {
  color: var(--primary-color);
  position: relative;
  margin-left: 0.5rem;
}

#searchicon {
  color: var(--body-bg-color);
}

#searchicon:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.shortcuts {
  margin: 5rem 3rem;
  display: flexbox; 
}

.box1 {
  width: 17rem;
  height: 17rem;
  background-color: var(--primary-color);
  outline: var(--primary-color) 2px solid;
  border: var(--body-bg-color) 2px solid;
  display: inline-block;
  margin: 1rem 0.5rem;
}


.quicklinks {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: var(--body-bg-color);
  position: relative;
  margin: 2rem 4rem;
}

#quickicon {
  font-size: 5rem;
  margin: 2px 2px;
}

.quicklinksp {
  font-size: 1rem;
  color: var(--body-bg-color);
  margin: 1rem 1rem;
}

.quicklinkclick {
  background-color: var(--body-bg-color);
  padding: 5px;
  width: 100%;
  border: var(--secondary-color) 2px solid;
  color: var(--secondary-color);
  font-size: 1rem;
}

.quicklinkclick:hover {
  cursor: pointer;
  color: var(--body-bg-color);
  background-color: var(--secondary-color);
}

.bodymain {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 50px 0;
}

.bodytext {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}
#bodyh1 {
  position: relative;
  color: var(--primary-color);
  margin: 2rem 3rem;
  font-size: 3rem;
  width: 100%;
}

.bodyimg {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 50%;
  margin: 1rem 3rem;
}

.bodyimg img{
  border-radius: 5px;
}

.bodyimg2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
  margin: 1rem 3rem;
}
.bodytext2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
}
#bodyh2 {
  position: relative;
  color: var(--secondary-color);
  margin: 2rem -1rem;
  font-size: 3rem;
  width: 100%;
}

.bodyimg2 img{
  border-radius: 5px;
}
#bodyh2icon {
  color: var(--secondary-color);
}
#bodyp2 {
  color: var(--primary-color);
  margin: 1rem -1rem;
}
#hover2 {
  color: var(--secondary-color);
  margin: 2rem -1rem;
}
#arrow2 {
  color: var(--secondary-color);
}
.bodyp {
  position: relative;
  color: var(--secondary-color);
  font-size: 12px;
  width: 100%;
  margin: 2rem 3rem;
  
}

.bodypbutton {
  position: relative;
  font-size: 1rem;
  color: var(--secondary-color);
  height: fit-content;
  width: 10%;
  margin: 0rem 1rem;
  color: var(--secondary-color);
  background-color: var(--body-bg-color);
  border: var(--secondary-color) 1px solid;
}

.bodypbutton:hover {
  cursor: pointer;
  color: var(--body-bg-color);
  background-color: var(--secondary-color);
}

.hover-container {
  position: relative;
  font-size: 1rem;
  color: var(--primary-color);
  width: 15%;
  padding: 5px 5px;
  cursor: pointer;
  display: inline-flex; /* Use flexbox to align text and arrow */
  align-items: center;
  gap: 5px; /* Space between text and arrow */
  margin: 0.5rem 3rem;
}

.arrow {
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
  font-size: 1.7em; /* Adjust arrow size */
  color: #333;
  color: var(--primary-color);
}

.hover-container:hover .arrow {
  opacity: 1; /* Visible on hover */
}

.appmain {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 50px 0;
  background-color: var(--secondary-color);
}

.apptext {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

#apph1 {
  position: relative;
  color: var(--body-bg-color);
  margin: 2rem 6rem;
  font-size: 3rem;
  width: 100%;
}

.appP {
  position: relative;
  color: var(--body-bg-color);
  font-size: 16px;
  width: 100%;
  margin: 2rem 6rem;
}

.appimg {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 50%;
  margin: 1rem 3rem;
}

.agentmain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px 0;
}

.agenttext {
  text-align: center;
  width: 100%;
  font-size: 1rem;
}

#agenth1 {
  color: var(--primary-color);
}

.agentp {
  display: inline-block;
  text-align: left;
  position: relative;
  color: var(--primary-color);
  margin: 3rem 1rem;
  font-size: 1rem;
}

.form-container {
    background-color: var(--primary-color);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40%;
    margin: 0 auto;

}
form {
  position: relative;
  gap: 15px;
}
  
label {
    font-weight: bold;
    color: var(--body-bg-color);
}

input[type="text"] {
    color: var(--primary-color);
    background-color: var(--body-bg-color);
    margin: 1rem 0;
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box; /* Ensures padding doesn't increase total width */
}

input[type="text"]:focus {
    border-color: var(--body-bg-color);
    outline: none;
    
}


button[type="submit"] {
    width: 20%;
    position: absolute;
    background-color: var(--secondary-color);
    color: var(--body-bg-color);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    right: 0;
    top: 50%; 
    transform: translateY(-30%); 

}

button[type="submit"]:hover {
    background-color: var(--body-bg-color);
    color: var(--secondary-color);
}

.btn{
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: sans-serif;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--body-bg-color);
    color: var(--secondary-color);
    border: var(--secondary-color) 2px;
    z-index: -1;
    transition: 0.5s;
}


.footer {
 border-top: 3px solid var(--primary-color); /* Add a top border */
 margin: 3rem 2rem;
  padding: 20px; /* Add some spacing */
}

.footer-bar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
  background-color: var(--body-bg-color);
  font-size: 1rem;
  font-weight: 500;
}
 
.col-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 1rem 2.5rem;
}

.col-1 h3 {
  color: var(--primary-color);
}

.col-1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.col-1 ul li a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  padding: 10px 2px;
  color: var(--primary-color);
  font-size: 16px;
}

.col-1 ul li a:hover {
  font-size: 18px;
}
